body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;/*ya bu absolute da  anladığım kadarıyla bağımsız olarak ön layer a alıyor segmenti
    ancak fixed dediğin zaman yine bir layer öne alıyor ama layer hep sayfanın üzerinde kalıyor.*/
    width: 100%; /* bu da çok iyi bir yöntem ancak bir şey daha ilave etmek gerekiyor*/
    top: 0;
    left: 0; /*en son bunları koydu garanti olsun diye tam başlangıç nokrası almak için*/
    box-sizing: border-box;/*bu noktada da kutuyu sınırlandırma önemli...
    Content box dediğimiz zaman main i yüzde yüz olarak alıyor.*/
}

header li a {

    font-size: 20px;
    padding: 12px;
    color: rgb(255, 231, 0);
    text-shadow: 1px 1px 2px rgb(0,0,0,0.9);
    /*background-color: rgb(245, 121, 160, 70%);
    border-radius: 5px; istersen yapabilirsin*/
    border-radius: 6px;
}

header li a:hover {

    color:rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
    
}

#page-logo a /* extradan bir bölgeyi adreslemede kullanılıyor.*/ {
    padding: 10px;
    font-family: "Oleo Script", sans-serif /*google dan indirdik*/;
    color: rgb(245, 231, 160);
    font-size: 50px;
    text-decoration: none;
    /* altyazıları silmeye yarıyor */
    text-transform: uppercase /*bu da bütün harflere özel düzenleme yapmanı sağlıyor*/;
    text-shadow: 4px 4px 5px rgb(0,0,0)/*gölgelemede
    brinci sağdan sola, ikincisi yukardan aşağıya, üçüncüsü blurlerme, 4 renk*/
}

header li{
    margin-left: 20px;
}
    


header ul{
    display: flex;
}

ul a {
    text-decoration: none;
}

