body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

#page-logo a /* extradan bir bölgeyi adreslemede kullanılıyor.*/ {
    padding: 10px;
    font-family: "Oleo Script", sans-serif /*google dan indirdik*/;
    color: rgb(245, 231, 160);
    font-size: 50px;
    text-decoration: none;
    /* altyazıları silmeye yarıyor */
    text-transform: uppercase /*bu da bütün harflere özel düzenleme yapmanı sağlıyor*/;
    text-shadow: 4px 4px 5px rgb(0,0,0)/*gölgelemede
    brinci sağdan sola, ikincisi yukardan aşağıya, üçüncüsü blurlerme, 4 renk*/
}

header li{
    margin-left: 20px;
}
    


header ul{
    display: flex;
}

ul a {
    text-decoration: none;
}

