#hero {
    height: 800px;
    background-image: url("images/places/ocean.jpg") ;
    background-position: center; /* resim eklendikten sonra resmin ortası geliyor buraya*/
    background-size: cover; /*büyük resmi sığdırıyor */
}